body {
  text-align: center;
  padding: 10px;
  color: #1515e9;

    }

header h1 {
    color: #1515e9;
    text-align: center;
}

p{
    color:rgb(20, 238, 20);
}


header h3 { position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;}
