span {
  background-color: yellow;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

p {
  color: green;
  font-size: 12px;
  margin: 0px;
}

h3 {
  color: blue;
  margin-top: 20px;
}

img {
  width: 30%;
}

#app {
  text-align: center;
}